table {
    width: 100%;
    border-spacing: 0;

    th {
        border-bottom: solid 2px #fb5144;
        padding: 10px 0;
    }

    td {
        border-bottom: solid 2px #ddd;
        text-align: center;
        padding: 10px 0;
    }
}